@model MyBlog.Models.Comment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditComment</title>
</head>
<body>
    <div> 
		<form method="post" action="/Home/UpdateComment">

			<input type="hidden" value="@Model.CommentId" name="CommentId" />
			<input type="hidden" value="@Model.PostId" name="PostId" />

			<p>Autor :</p>
			<input type="text" value="@Model.Autor" name="Autor" />
			<p>Comment's text :</p>
			<input type="text" value="@Model.Content" name="Content" />
			<input type="submit" value="Изменить" />
		</form>
    </div>
</body>
</html>
