@model MyBlog.Models.Comment

<body>
	<p>Edit Comment</p>
    <div> 
		<form method="post" action="/Home/UpdateComment">

			<input type="hidden" value="@Model.Id" name="Id" />
			<input type="hidden" value="@Model.Post.Id" name="PostId" />
			<input type="hidden" value="@Model.Autor.Id" name="AutorId" />

			<p>Comment's text :</p>
			<input type="text" value="@Model.Content" name="Content" />
			<input type="submit" value="Edit" />
		</form>
    </div>
</body>
