@model MyBlog.Models.Post

@{
    Layout = null;
}


<body>
	<p>
		Editing post
	</p>
		<div>
			<form method="post" action="/Home/UpdatePost">

				<input type="hidden" value="@Model.Id" name="Id" />
				<input type="hidden" value="@Model.Autor.Id" name="AutorId" />
<p>Post's text :</p>
			<input type="text" value="@Model.Content" name="Content" />
			<input type="submit" value="Edit" />
		</form>
    </div>
</body>
