
@{
    Layout = "~/Views/_Layout.cshtml";
}
<body>
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    Welcome back, commander
                </li>
            </ul>
        </div>
        
    @RenderBody()
</body>

