
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blocked</title>
</head>
<body>
    <div> 
        <p>Sorry, but this user is blocked</p>
    </div>
</body>
</html>
