@model MyBlog.ViewModels.LoginViewModel
<body>
    <div class="container">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Model
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)

            <label class="sr-only" for="Login">Login</label>
            <input class="text-box single-line form-control " placeholder="Login" data-val="true" data-val-required="The Login field is required." id="Login" name="Login" type="text" value="">
            <span class="field-validation-valid" data-valmsg-for="Login" data-valmsg-replace="true"></span>
            <label class="sr-only" for="Password">Password</label>
            <input class="text-box single-line form-control password" placeholder="Password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" value="">
            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            <input type="submit" value="Log in" class="btn btn-block btn-primary">
        }
        </div>
</body>
