@model MyBlog.ViewModels.RegistrationViewModel

<body>
    <div class="container">
        @using (Html.BeginForm("Registration", "Account", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Model
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)

            <label class="sr-only" for="UserName">UserName</label>
            <input class="text-box single-line form-control" placeholder="Username" data-val="true" data-val-required="The UserName field is required." id="UserName" name="UserName" type="text" value="">
            <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>

            <label class="sr-only" for="Password">Password</label>
            <input class="text-box single-line password form-control" placeholder="Password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" value="">
            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>

            <label class="sr-only" for="ConfirmPassword">ConfirmPassword</label>
            <input class="text-box single-line password form-control" placeholder="Confirm password" data-val="true" data-val-equalto="Passwords do not match" data-val-equalto-other="*.Password" data-val-required="The ConfirmPassword field is required." id="ConfirmPassword" name="ConfirmPassword" type="password" value="">
            <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
            <input type="submit" value="Sign up" class="btn btn-block btn-primary">


        }
        </div>
</body>
